name: Build and publish Docker image

on:
  workflow_call:
    inputs:
      target:
        description: 'Target build stage to build'
        required: false
        type: string
    secrets:
      CONTAINER_REGISTRY_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set variables
        id: vars
        run: |
          suffix="${{ inputs.target && format('-{0}', inputs.target) || '' }}"
          echo "docker_image=ghcr.io/${{ github.repository }}${suffix}" >> $GITHUB_OUTPUT
          echo "build_tag=$(git show -s --format=%cd-%h --date=format:%Y%m%d%H%M%S)" >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CONTAINER_REGISTRY_TOKEN }}

      - name: Build and push image to Docker registry
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: ${{ inputs.target }}
          tags: |
            ${{ steps.vars.outputs.docker_image }}:${{ steps.vars.outputs.build_tag }}
            ${{ steps.vars.outputs.docker_image }}:latest
